
      <flow id="flow$flow[0]" color="0,0,1" begin="$begin" end= "$end" probability="$probability[0]"  type="typeVehicleDistribution">
          <route edges="H1 H2"/>
      </flow>    
      <flow id="flow$flow[1]" color="0,1,0"  begin="$begin" end= "$end" probability="$probability[1]"  type="typeVehicleDistribution">
          <route edges="H1 V1 H9 H8"/>
      </flow>    
      <flow id="flow$flow[2]" color="0,1,1"  begin="$begin" end= "$end" probability="$probability[2]"  type="typeVehicleDistribution">
          <route edges="H1 V1 H7"/>
      </flow>    
      <flow id="flow$flow[3]" color="1,0,0"  begin="$begin" end= "$end" probability="$probability[3]"  type="typeVehicleDistribution">
          <route edges="H4 H3"/>
      </flow>     
      <flow id="flow$flow[4]" color="1,0,1" begin="$begin" end= "$end" probability="$probability[4]"  type="typeVehicleDistribution">
          <route edges="H4 V1 H9 H8"/>
      </flow>    
      <flow id="flow$flow[5]" color="1,1,0"  begin="$begin" end= "$end" probability="$probability[5]"  type="typeVehicleDistribution">
          <route edges="H4 V1 H7"/>
      </flow>    
      <flow id="flow$flow[6]" color="1,1,1"  begin="$begin" end= "$end" probability="$probability[6]"  type="typeVehicleDistribution">
          <route edges="H5 H6 H7"/>
      </flow>    
      <flow id="flow$flow[7]" color="1,0.5,0"  begin="$begin" end= "$end" probability="$probability[7]"  type="typeVehicleDistribution">
          <route edges="H5 H6 V2 H3"/>
      </flow> 
      <flow id="flow$flow[8]" color="0.5,0,1" begin="$begin" end= "$end" probability="$probability[8]"  type="typeVehicleDistribution">
          <route edges="H5 H6 V2 H2"/>
      </flow>    
      <flow id="flow$flow[9]" color="0,1,0.5"  begin="$begin" end= "$end" probability="$probability[9]"  type="typeVehicleDistribution">
          <route edges="H10 H9 H8"/>
      </flow>    
      <flow id="flow$flow[10]" color="1,0.5,0.1"  begin="$begin" end= "$end" probability="$probability[10]"  type="typeVehicleDistribution">
          <route edges="H10 V2 H2"/>
      </flow>    
      <flow id="flow$flow[11]" color="1,0.5,1"  begin="$begin" end= "$end" probability="$probability[11]"  type="typeVehicleDistribution">
          <route edges="H10 V2 H3"/>
      </flow>        
